/* Selector universal * {
    background-color: rgba(207, 212, 255, 0.384);
}*/
* { /*Reseteo basico de margenes y paddings*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* Variables CSS */
    --title-color: #5A9CB5;
    --main-bg-color: #FACE68;
    --accent-color: #FAAC68;
    --border-roundness: 3%;
}

body {
    background-color: var(--main-bg-color);
    color: #333333;
    font-family: "Playfair Display", serif;
    line-height: 1.6;
    padding: 2rem;
}

h1#principal-title { /* Selector por ID */
    color: var(--title-color);
}

.ordered-lists { /* Selector por clase */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 1% 2% 3% 4%;
}
/* ¿Cómo se controla el orden de CSS
1. Importancia
2. Especificidad
3. Orden de las fuentes: hojas estilo externa, estilos en línea, embebido (interno).
Valores de especificidad, de mayor a menor:
1. !important - Le gana a todos, mayor especificidad, pero rompe las reglas. NO ES UNA BUENA PRÁCTICA.
2. Estilos en línea -- Valor de 1000
3. ID -- Valor de 100
4. Clases, atributos, y pseudoclases -- Valor de 10
5. Selectores de tipo y pseudoelementos -- Valor de 1
6. Selector universdal -- Valor de 0. 
*/